body {
  font-family: "Segoe UI", "Inter", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #0d1117;
  color: #fff;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}